/* 
 * Chatbot ChatGPT for WordPress - Stylesheet
 * 
 * This CSS file contains styles for the Chatbot ChatGPT plugin.
 * It includes styles for the chatbot interface, messages, and other UI elements.
 * 
 * Customize these styles to match your website's design.
 *
 */


/* Set font family to sans-serif for all text within the plugin */
.chatbot-container * {
    font-family: sans-serif;
}

#chatbot-chatgpt {
    width: 700px;
    min-width: 700px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    border: #f33235;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    background: white;
}


#chatbot-chatgpt.wide {
    width: 700px;
}

#chatbot-chatgpt-header {
    background-image: url('../img/ChatBot_Banner-700x80.png');
    background-size: cover;
    border: none;
    height: 80px;
    /* margin: 0px; */
    padding: 0px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

#chatbot-chatgpt-conversation {
    display: block;
    height: 420px;
    width: 680px;
    flex-grow: 0;
    padding: 10px;
    display: inline-block;
    overflow-y: scroll;
}

#chatbot-chatgpt-input {
    display: flex;
    padding: 10px;
}

#chatbot-chatgpt-submit {
    background-image: url('../img/Submit_button_NormalState.png');
    height: 52px;
    width: 52px;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    margin-left: 5px;
    cursor: pointer;
}

#chatbot-chatgpt-submit:hover {
    background-image: url('../img/Submit_button_RollOver.png');
}

/* CSS for append message */
#chatbot-chatgpt-message {
    display: flex;
    flex-grow: 1;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 16px;
}

.chat-message {
    margin: 5px;
    padding: 5px;
    max-width: 100%;
    word-wrap: break-word;
}

.user-message {
    text-align: left;
    display: flex;
    /* align-self: flex-end; */
    float: right;
    /* margin-left: auto; */
}

.user-text {
    /* display: flex; */
    background: #f33235;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    /* width: auto; */
    /* max-width: 80%; */
    margin-left: 140px;
    padding: 5px 10px;
    float:left;
}

.bot-message {
    display: flex;
    text-align: left;
    max-width: 80%;
    float: left;
    clear: both;
}

.bot-text {
    display: inline-block;
    /* font-weight: bold; */
    background-color: #f0f0f0;
    color: #000;
    padding: 5px 10px;
    border-radius: 8px;
    /* border-bottom-left-radius: 0; */
    overflow-wrap: anywhere;
}

.error-message {
    text-align: center;
}

.error-text {
    color: red;
    font-weight: bold;
}

.message-space {
    display: inline;
    clear: both;
    height: 10px;
}

/* Collapse chatbot upon user request */
.chatbot-collapse-btn {
    background-image: url('../img/Close_button_NormalState.png');
    height: 21px;
    width: 21px;
    background-size: cover;
    background-color: transparent;
    position: absolute;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    /* text-align: center; */
    /* padding: 15px; */
    /* border-radius: 10%; */
}

.chatbot-collapse-btn:hover {
    background-image: url('../img/Close_button_RollOver.png');
}

.chatbot-collapsed {
    width: 48px;
    height: 48px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

/* Show the chatbot open button in the lower right corner of the window */
#chatgpt-open-btn {
    background-image: url("../img/Normal_State-Bot_Launch_Button-80x67.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 67px;
    width: 80px;
    position: fixed;
    /* bottom: 2%;
    right: 2%; */
    bottom: 40px;
    right: 40px;
    border: none;
    cursor: pointer;
    float: right;
    /* box-shadow: 2px 4px 15px rgb(102, 92, 143); */
    border-radius: 10%;
    /* Add z-index - Ver 1.2.1 */
    z-index: 100;
}

#chatgpt-open-btn:hover {
    background-image: url("../img/RollOver_State-Bot_Launch_Button-80x67.png");
}

#chatgptTitle.title {
    color: white;
    font-size: 30px;
    /* font-weight: 300; */
}

.typing-indicator {
    display: inline-flex; /* Changed from flex to inline-flex */
    justify-content: flex-start;
    background-color: #f0f0f0; /* Match the background color for .bot-text*/
    border-radius: 8px; /* Match the border radius */
    padding: 5px 10px; /* Match the padding */
    margin-left: 10px;
    float: left;
    clear: both;
}

.typing-dot {
    margin-right: 3px;
    animation: typing 1s infinite;
    color: black; /* Match the color of the bot text */
}

.typing-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes typing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}